{{define "browse"}}
<div class="browse">
  {{if .DemoMode}}
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="jumbotron">
        <p>Fit is a tool for reading, manipulating, and exploring time series data.</p>
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        <div class="row">
          <h3> Explore Example Series </h3>
          <div class="col-xs-6 col-md-3">
            <h4> TCX Data </h4>
            <a href="#" class="thumbnail">
              <img src="/static/images/tcx.png" alt="...">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <h4> TCX Data </h4>
            <a href="#" class="thumbnail">
              <img src="/static/images/tcx.png" alt="...">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <h4> TCX Data </h4>
            <a href="#" class="thumbnail">
              <img src="/static/images/tcx.png" alt="...">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <h4> TCX Data </h4>
            <a href="#" class="thumbnail">
              <img src="/static/images/tcx.png" alt="...">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  {{else}}
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Series</h1>
        </div>
        <ul class="list-group">
          {{range .Datasets}}
          <li class="list-group-item"> <a href="/{{.Name}}">{{.Name}}</a></li>
          {{end}}
        </ul>
      </div>

    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{{end}}
{{end}}
