{{define "browse"}}
<div class="browse">
  {{if .DemoMode}}
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <p>Fit is a toolkit for exploring, extracting, and transforming datasets</p>
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="row">
          <h3> Example Datasets </h3>
          <div class="col-xs-6 col-md-3">
            <h4> Global Tempatures </h4>
            <a href="/explore?q=Temperatures%2Cdt&q=Temperatures%2CLandAverageTemperature%2CLandMaxTemperature%2CLandMinTemperature" class="thumbnail">
              <img src="/chart?q=Temperatures%2Cdt&q=Temperatures%2CLandAverageTemperature%2CLandMaxTemperature%2CLandMinTemperature&height=8&width=10" alt="...">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <h4> Global Tempatures </h4>
            <a href="/explore?q=Temperatures%2Cdt&q=Temperatures%2CLandAverageTemperature%2CLandMaxTemperature%2CLandMinTemperature" class="thumbnail">
              <img src="/chart?q=Temperatures%2Cdt&q=Temperatures%2CLandAverageTemperature%2CLandMaxTemperature%2CLandMinTemperature&height=8&width=10" alt="...">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <h4> Global Tempatures </h4>
            <a href="/explore?q=Temperatures%2Cdt&q=Temperatures%2CLandAverageTemperature%2CLandMaxTemperature%2CLandMinTemperature" class="thumbnail">
              <img src="/chart?q=Temperatures%2Cdt&q=Temperatures%2CLandAverageTemperature%2CLandMaxTemperature%2CLandMinTemperature&height=8&width=10" alt="...">
            </a>
          </div>
          <div class="col-xs-6 col-md-3">
            <h4> Global Tempatures </h4>
            <a href="/explore?q=Temperatures%2Cdt&q=Temperatures%2CLandAverageTemperature%2CLandMaxTemperature%2CLandMinTemperature" class="thumbnail">
              <img src="/chart?q=Temperatures%2Cdt&q=Temperatures%2CLandAverageTemperature%2CLandMaxTemperature%2CLandMinTemperature&height=8&width=10" alt="...">
            </a>
          </div>
        </div>
    </div>
  </div>
  {{else}}
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Series</h1>
        </div>
        <ul class="list-group">
          {{range .Datasets}}
          <li class="list-group-item"> <a href="/{{.Name}}">{{.Name}}</a></li>
          {{end}}
        </ul>
      </div>

    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{{end}}
{{end}}
