{{define "explore"}}
<div class="panel panel-default">
  <div class="panel-body">
    <img src="" alt="..." class="img-responsive center-block">
  </div>
</div>
<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          {{range .Keys}}
          <th> {{.}} </th>
          {{end}}
        </tr>
      </thead>
      <tbody>
        {{range .Rows}}
        <tr>
          {{range .}}
          <td>
            {{.}}
          </td>
          {{end}}
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>
{{end}}

