{{define "explore"}}
<div class="panel panel-default">
  <div class="panel-body">
    <img src="" alt="..." class="img-responsive center-block">
  </div>
</div>
<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th> Time </th>
        </tr>
      </thead>
      <tbody>
        {{range .Series}}
        <tr>
          <td>{{.}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>
{{end}}

