{{define "panel"}}

<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-left" href="/">
        <img height="40px" alt="Brand" src="/static/images/gopher-fit.png">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        {{if .Explore}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-stats"></span> 
            <strong>{{.Title}}</strong>
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {{range .Datasets}}
            <li><a href="/{{.Name}}">{{.Name}}</a></li>
            {{end}}
          </ul>
        </li>
      {{end}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" role="button" data-toggle="modal" aria-haspopup="true" aria-expanded="false" data-target="#about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{{end}}
