{{define "content"}}
<div class="page-header">
</div>
  <div class="container-fluid">
    <img src="{{.ChartURL}}" alt="..." class="img-responsive">
  </div>
<div class="container-fluid">
<div class="page-header">
  Activities
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Laps</th>
        <th>Duration</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
    {{ $f := . }}
    {{range .Activities}}
      <tr>
        <td><a href={{ $f.Query.ByTime .StartTime }}>{{.StartTime}}</a> </td>
        <td>{{.Laps | len}}</td>
        <td>{{.Duration}}</td>
        <td>{{.Distance}}</td>
      </tr>
    {{end}}
    </tbody>
  </table>
</div>
{{end}}
