{{define "content"}}
<div class="row placeholders">
</div>
{{ if .Lap }}
<h2 class="sub-header">Lap Details</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Pt</th>
        <th>Time</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Altitude</th>
        <th>Distance</th>
        <th>HeartRate</th>
      </tr>
    </thead>
    <tbody>
    {{range $i, $pt := .Lap.Trk.Pt}}
      <tr>
        <td>{{$i}}</td>
        <td>{{$pt.Time}}</td>
        <td>{{$pt.Lat}}</td>
        <td>{{$pt.Long}}</td>
        <td>{{$pt.Alt}}</td>
        <td>{{$pt.Dist}}</td>
        <td>{{$pt.HR}}</td>
      </tr>
    {{end}}
    </tbody>
  </table>
</div>

{{ else }}
<h2 class="sub-header">Laps ({{.Activity.Laps | len}})</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Duration</th>
        <th>Distance</th>
        <th>TrackPoints</th>
      </tr>
    </thead>
    <tbody>
    {{range $i, $lap := .Activity.Laps}}
      <tr>
        <td><a href="/activity/{{.ID}}/lap/{{$i}}">{{.Start}}</a></td>
        <td>{{$lap.TotalTime}}</td>
        <td>{{$lap.Dist}}</td>
        <td>{{$lap.Trk.Pt | len}}</td>
      </tr>
    {{end}}
    </tbody>
  </table>
</div>
    {{ end }}

{{end}}
