{{define "data"}}
<div class="input-group">
 <div class="input-group-btn">
      <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
    <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
  </ul>
</div>
</div>
<div class="container-fluid">
<div class="table-responsive">
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th> Time </th>
        {{range .Collection.Names}}
        <th>{{.}}</th>
        {{end}}
      </tr>
    </thead>
    <tbody>
    {{range .Collection.Series}}
      <tr>
        <td>{{.Time.Format "2006-Jan-02 15:04:05"}}</td>
        {{range .Values}}
          {{range .}}
        <td>{{.Value}}</td>
          {{end}}
        {{end}}
      </tr>
    {{end}}
    </tbody>
  </table>
</div>
</div>
{{end}}

