{{define "data"}}
<div class="container-fluid">
<div class="table-responsive">
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th> Time </th>
        {{range .Columns}}
        <th>{{.}}</th>
        {{end}}
      </tr>
    </thead>
    <tbody>
    {{range .Rows}}
      <tr>
        <td>{{.Time.Format "2006-Jan-02 15:04:05"}}</td>
        {{range .Values}}
        <td>{{.}}</td>
        {{end}}
      </tr>
    {{end}}
    </tbody>
  </table>
</div>
</div>
{{end}}

